*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
    /* font-size: 1.5rem; */
    /* padding: 2rem; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem; */
    background-color: #644F0E;
    width: 1,624px;
    border-radius: 50px;
    margin: 50px;
    /* margin-top: 50px; */
    height: 70px;
    /* margin-left: 60px; */
    /* margin-right: 60px; */
    padding: 1rem;
}

.header-img{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.header-img img{
    margin-left: 0.6rem;
    margin-top: 0.7rem;
    width: 2rem;
    height: 2rem;
}

.header a{
    text-decoration: none;
    color: white;
}

.header .home{
    color: #FFC107;
}

.header .getAppp{
    background-color: white;
    width: 7rem;
    height: 2.5rem;
    border-radius: 50px;
    text-align: center;
}

.header .getAppp p{
    margin-top: 0.7rem;
}


/* hero section starts here */

.hero{  
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    width: 1,624px;
}

.left-col{
   max-width: 50rem; 
   /* margin-right: 5rem; */
}

.left-col .title{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.left-col .title img{
    margin-right: 0.5rem;
}

.left-col h2{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    max-width: 30rem;
}

.left-col h2 span{
    color: #644F0E;
}

.left-col .details{
   margin-bottom: 2rem; 
   max-width: 35rem;
}
.left-col .apps{
    display: flex;
    max-width: 30rem;
    margin-bottom: 2rem;
}

.left-col .apps img{
    max-width: 15rem;
    max-height: 15rem;
    margin-right: 3rem;
}

.left-col .users{
    display: flex;
    align-items: center;
}

.left-col .users img{
    width: 5rem;
    height: 5rem;
}

.left-col .users .img3{
display: flex;
position: absolute;
margin-left: 3rem;
width: 4.5rem;
height: 4.5rem;
margin-top: -1rem;
}

.left-col .users .img4{
display: flex;
position: absolute;
margin-left: 6rem;
width: 4rem;
height: 4rem;
margin-top: -1.5rem;
}

.left-col .users .img5{
display: flex;
position: absolute;
margin-left: 9.5rem;
width: 3rem;
height: 3rem;
margin-top: -2.3rem;
}

.left-col .users p{
    margin-left: 13rem;
}

.left-col .users p span{
    font-weight: bold;
}

.left-col .arrow img{
    width: 30rem;
    height: 30rem;
    position: absolute;
    margin-top: -19rem;
    margin-left: 17rem;
}

.right-col{
    display: flex;
}

.right-col .image img{
    max-width: 40rem;
    max-height: 40rem; 
    margin-left: 10rem;
}

/* hero section ends here */

/* download section starts here */
    .download-container{
        display: flex;
        background-color: #52451E;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 50px;
        margin-bottom: 3rem;
        padding: 2rem;
        border-radius: 1.5rem;
    }

    .col-left{
        margin-left: 2rem;
        margin-top: 2rem;
        margin-right: 1rem;
        /* max-width: 50rem; */
    }

    .col-left .download{
        margin-bottom: 1.5rem;
        color: white;
        font-size: 2rem;
        max-width: 20rem;
    }

    .col-left .download span{
        color: #FFC107;
    }

    .col-left .option{
        color: white;
        margin-bottom: 6rem;
        max-width: 25rem;
    }

    .numbers{
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .numbers .users {
        margin-right: 2rem;
        /* margin-bottom: 30rem; */
    }

    .numbers .users span{
       color: #FFC107;  
    }

    .numbers .user{
         margin-top: 1rem;
    }

    .numbers .users .values{
        font-size: 2rem;
    }

    .numbers .books span{
        color: #FFC107;  
    }

    .numbers .books{
        margin-left: 2rem;
        margin-right: 2rem;
    }

     .numbers .books .values{
        font-size: 2rem;
    }

     .numbers .authors span{
        color: #FFC107;  
    }

    .numbers .authors{
        margin-left: 2rem;
    }

     .numbers .authors .values{
        font-size: 2rem;
    }

    .numbers img{
        height: 4rem;
    }

    .col-right{
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }

    .col-right .ios img{
        max-width: 300px;
        max-height: 300px;
        margin-right: 1rem;
    }

    .col-right .andrioid img{
        max-width: 300px;
        max-height: 300px;
    }

/* download section ends here */